<h1>Users::OmniauthCallbacks#vkontakte</h1>
<p>Find me in app/views/users/omniauth_callbacks/vkontakte.html.erb</p>

<h1><%= @par.inspect %></h1>
<h1><%= @par %></h1>

<h1><%= @first_name %></h1>

<h1><%= @human.inspect %></h1>
